@model App_comunicacao_escolar.Models.Conversa

@{
    ViewData["Title"] = "Mensagem";
    int contarNumeroDeMensagens = 0;
}

<h1> @Html.DisplayFor(model => model.Assunto)</h1>

<div>
    @foreach(Mensagem mensagem in Model.Mensagens)
    {
    <div class="mensagem-email">
        <b>@Html.DisplayFor(modelItem => mensagem.RemetenteNome)</b>
        <div class="d-flex justify-content-between">
            <p>Para: @Html.DisplayFor(modelItem => mensagem.listaDestinatariosNome)</p>
            <span>@Html.DisplayFor(modelItem => mensagem.DataEnvio)</span>
        </div>
        <div class="border-bottom col-12 m-2"></div>
        @Html.DisplayFor(modelItem => mensagem.Conteudo)
        <div class="border-bottom col-12 m-2"></div>

        <input type="hidden" class="remetenteId" name="remetenteId" value=@mensagem.RemetenteId />
        <input type="hidden" class="remetenteNome" name="remetenteNome" value=@mensagem.RemetenteNome />
        <input type="hidden" class="listaDeDestinatariosPorId" name="listaDeDestinatariosPorId" value=@mensagem.listaDestinatarios />
        <textarea name="listaDeDestinatariosPorNome" class="listaDeDestinatariosPorNome" hidden> @Html.DisplayFor(modelItem => mensagem.listaDestinatariosNome) </textarea>
        <input type="hidden" class="mensagemRespondidaId" name="mensagemRespondidaId" value=@mensagem.Id />
        <button type="button" class="btn btn-primary" onclick="abrirTelaDeResponderMensagem(@contarNumeroDeMensagens)">Responder</button>
        <button type="button" class="btn btn-primary" onclick="abrirTelaDeResponderMensagemParaTodosOsParticipantes(@contarNumeroDeMensagens, @mensagem.RemetenteId)">Responder a todos</button>
        
        @{
             contarNumeroDeMensagens += 1;
        }
    </div>

    }
    <div id="tela-responder-mensagem">
            @using(Html.BeginForm("CreateResposta","Conversas",FormMethod.Post))
            {
                <button type="button" class="float-end" onclick="fecharTelaDeResponderMensagem()">X</button>
                <b>Responder mensagem</b>
                <br />
                <label for="destinatarioId" class="control-label">Destinatários:</label>
                <select id="destinatarioId" asp-for="Participantes" class ="form-control" asp-items="ViewBag.ParticipanteId" readonly>
                </select>
                <button type="button" class="btn btn-primary m-1" onclick="adicionarDestinatarioALista()">Adicionar destinatário</button>
                <br />
                <div class="d-flex text-wrap m-1" id="exibirDestinatariosSelecionados"></div>
                <span asp-validation-for="Assunto" class="text-danger"></span>
                <textarea id="conteudoMensagem" name="conteudoMensagem" class="form-control conteudo-textarea" placeholder="Inserir conteúdo da mensagem..." required></textarea>

                <input type="text" id="listaDeDestinatariosPorId" name="listaDeDestinatariosPorId" required hidden/>
                <textarea id="listaDeDestinatariosPorNome" name="listaDeDestinatariosPorNome" class="form-control" hidden>  </textarea>
                <input type="hidden" id="mensagemRespondidaId" name="mensagemRespondidaId"/>
                <input type="hidden" id="conversaId" name="conversaId" value=@Model.Id />

                <button type="submit" class="btn btn-primary m-1" onclick="verificarSeUsuarioSelecionouDestinatarios()">Responder</button>
            }
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>