@model IEnumerable<App_comunicacao_escolar.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Usuários</h1>

<div class="d-flex justify-content-between my-4">
    <a class="btn btn-primary" asp-action="Create">Cadastrar novo usuário</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeDeUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perfil)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
                @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDeUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perfil)
            </td>
            <td>
                <span class="whitespace-nowrap text-center">
                    <a class="btn btn-primary mb-2 p-1" asp-action="Details" asp-route-id="@item.Id">Mais informações</a>
                </span>
                <span class="whitespace-nowrap mx-3">
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>              
                    @if (item.Perfil != 0) {
                       <text>|</text> <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                    }
                    else {
                       <text></text> <span class="opacity-0">| Apagar</span>
                    }
                </span>
            </td>
        </tr>
}
    </tbody>
</table>
