@model App_comunicacao_escolar.Models.Turma

@{
    ViewData["Title"] = "Edit";
}

<h1>Associar disciplinas</h1>

<h4>@Html.DisplayFor(model => model.NomeComCodigoEntreParenteses)</h4>
<hr />
<div class="row">
    <div>
        <form asp-action="AdicionarDisciplinas">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group input-size-standard">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group input-size-standard">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group input-size-2x">
                <label for="disciplinasId" class="control-label">Adicionar disciplinas</label>
                <select id="disciplinasId" asp-for="Disciplinas" class ="form-control" asp-items="ViewBag.DisciplinaId">
                </select>
                <span asp-validation-for="Disciplinas" class="text-danger"></span><br />
                <!-- SelectLists contendo os outros atributos além do nome -->
                <button type="button" class="btn btn-primary my-2" onclick="selecionarDisciplina()">Adicionar</button>
                <br />
                <div hidden>
                    <input type="text" id="numeroDaDisciplinaQueDesejaAdicionar" name="numeroDaDisciplinaQueDesejaAdicionar" />
                    <input type="text" id="adicionarOuRemover" name="adicionarOuRemover" />
                </div>
            </div>
            <div class="form-group">
                <input id="botaoSubmeter" type="submit" value="Submeter" class="btn btn-primary" hidden />
            </div>
        </form>
        <h5>Disciplinas associadas</h5>
        <div class="d-flex flex-wrap">
        @{
            int counter = 0;
            int counterHorario = 0;
        }
        
        @if(Model.Disciplinas != null){
                foreach (var disciplina in Model.Disciplinas)
                {
                    counter++;
                    counterHorario = 0;
                    string idDisciplina = "nomeDisciplina" + counter.ToString();
                    <div class="d-flex caixa-itens-listados">
                        <div id="@idDisciplina" class="mt-1">@Html.DisplayFor(modelDisciplina => disciplina.NomeComCodigoEntreParenteses)</div>
                     <button onclick="removerDisciplina(@disciplina.Id)" type="button" class="float-end mx-1">X</button>
                    </div>
                    if (disciplina.HorariosDaDisciplina != null)
                    {
                        foreach (var horario in disciplina.HorariosDaDisciplina)
                        {
                            counterHorario++;
                            string idHorario = "horarioDisciplina" + counter.ToString() + "-" + counterHorario.ToString();
                            string conteudoHorario = disciplina.Nome + ";" + disciplina.Codigo + ";" + horario.DiaDaSemana + ";" + horario.HorarioInicio + ";" + horario.HorarioFim;
                            <div hidden id="@idHorario">@conteudoHorario</div>
                        }
                    }
                }
                if (Model.Disciplinas.Count == 0)
                {
                    <div class="alert-warning text-center p-2 input-size-2halfx">A turma não possui nenhuma disciplina associada!</div>
                }
            }
            else
            {
                <div class="alert-warning text-center p-2 input-size-2halfx">A turma não possui nenhuma disciplina associada!</div>
            }

        </div>
        <h5>Quadro de horários</h5>
        <div class="container-horarios">
            <div class="container-horarios-dias">
                <div class="container-horarios-dias-item"><div class="diaDaSemanaLabel">Domingo</div></div>
                <div class="container-horarios-dias-item"><div class="diaDaSemanaLabel">Segunda</div></div>
                <div class="container-horarios-dias-item"><div class="diaDaSemanaLabel">Terça</div></div>
                <div class="container-horarios-dias-item"><div class="diaDaSemanaLabel">Quarta</div></div>
                <div class="container-horarios-dias-item"><div class="diaDaSemanaLabel">Quinta</div></div>
                <div class="container-horarios-dias-item"><div class="diaDaSemanaLabel">Sexta</div></div>
                <div class="container-horarios-dias-item"><div class="diaDaSemanaLabel">Sábado</div></div>
            </div>
            <div class="container-horarios-horas"> 
                <div class="container-horarios-horas-item"><span class="container-horarios-horas-item-label">&nbsp 0h</span></div>
                <div class="container-horarios-horas-item"><span class="container-horarios-horas-item-label">&nbsp 1h</span></div>
                <div class="container-horarios-horas-item"><span class="container-horarios-horas-item-label">&nbsp 2h</span></div>
                <div class="container-horarios-horas-item"><span class="container-horarios-horas-item-label">&nbsp 3h</span></div>
                <div class="container-horarios-horas-item"><span class="container-horarios-horas-item-label">&nbsp 4h</span></div>
                <div class="container-horarios-horas-item"><span class="container-horarios-horas-item-label">&nbsp 5h</span></div>
                <div class="container-horarios-horas-item"><span class="container-horarios-horas-item-label">&nbsp 6h</span></div>
                <div class="container-horarios-horas-item"><span class="container-horarios-horas-item-label">&nbsp 7h</span></div>
                <div class="container-horarios-horas-item"><span class="container-horarios-horas-item-label">&nbsp 8h</span></div>
                <div class="container-horarios-horas-item"><span class="container-horarios-horas-item-label">&nbsp 9h</span></div>
                <div class="container-horarios-horas-item"><span class="container-horarios-horas-item-label">10h</span></div>
                <div class="container-horarios-horas-item"><span class="container-horarios-horas-item-label">11h</span></div>
                <div class="container-horarios-horas-item"><span class="container-horarios-horas-item-label">12h</span></div>
                <div class="container-horarios-horas-item"><span class="container-horarios-horas-item-label">13h</span></div>
                <div class="container-horarios-horas-item"><span class="container-horarios-horas-item-label">14h</span></div>
                <div class="container-horarios-horas-item"><span class="container-horarios-horas-item-label">15h</span></div>
                <div class="container-horarios-horas-item"><span class="container-horarios-horas-item-label">16h</span></div>
                <div class="container-horarios-horas-item"><span class="container-horarios-horas-item-label">17h</span></div>
                <div class="container-horarios-horas-item"><span class="container-horarios-horas-item-label">18h</span></div>
                <div class="container-horarios-horas-item"><span class="container-horarios-horas-item-label">19h</span></div>
                <div class="container-horarios-horas-item"><span class="container-horarios-horas-item-label">20h</span></div>
                <div class="container-horarios-horas-item"><span class="container-horarios-horas-item-label">21h</span></div>
                <div class="container-horarios-horas-item"><span class="container-horarios-horas-item-label">22h</span></div>
                <div class="container-horarios-horas-item border-0"><span class="container-horarios-horas-item-label">23h</span></div>
            </div>
            <div id="inserirCardsHorariosDisciplinas"></div>
        </div>
    </div>
</div>

<div>
    <a class="btn btn-primary my-2"asp-action="Index">Finalizar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/manter-posicao-y.js" asp-append-version="true"></script>
    <script src="~/js/selecionar-disciplinas.js" asp-append-version="true"></script>
    <script src="~/js/posicionar-disciplinas-calendario.js" asp-append-version="true"></script>
}
